.instructionsMain {
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
}

.instructionsTop {
}

.instructionsBtm {
}
